<style>
  figure {
    margin: 0;
    height: 30vh;
    width: 100%;
    overflow: hidden;
  }
  #figure-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #lightbox {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.95);
    display: none;
    flex-direction: column;
  }
  .lightbox-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .lightbox-close {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    color: white;
    cursor: pointer;
  }
  #lightbox-image {
    width: 75%;
    height: 75%;
    object-fit: contain;
    background-color: transparent;
  }
</style>
<figure id="image-thumbnail">
  <img id="figure-image" />
</figure>
<div id="lightbox">
  <p class="lightbox-close">Close</p>
  <div class="lightbox-content">
    <img id="lightbox-image" />
  </div>
</div>
